body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: url('../img/background.png') no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
    display: flex;
    box-sizing: border-box;
}

/* Dashboard Layout */
.dashboard {
    display: flex;
    width: 100%;
    height: 100vh;
}

/* Sidebar */
.sidebar .logo {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
}

.sidebar .logo img {
    width: 120px;
    height: auto;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar nav ul li {
    margin: 15px 0;
}

.sidebar nav ul li a {
    display: flex;
    align-items: center;
    font-size: 16px;
    text-decoration: none;
    color: #b2b1b1;
    padding: 7px 25px;
    border-radius: 25px;
    transition: background-color 0.3s, color 0.3s;
}

.sidebar nav ul li a img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.sidebar nav ul li a:hover {
    background-color: #4d6170;
    color: #ffa500;
}

.sidebar nav ul li a.active {
    font-weight: bold;
    color: #ffa500;
    background-color: #fff4e6;
}

/* Main Content */
.main-content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-content header h1 {
    font-size: 50px;
    margin-bottom: 0px;
}

.main-content header p {
    font-size: 15px;
    margin-top: 0;
}

/* Checklist Section */
.checklist-container {
    display: flex;
    gap: 25px;
    justify-content: center;
}

.checklist {
    width: 600px;
    height: 600px;
    padding: 20px;
    background: #4d6170;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.checklist h2 {
    font-family: 'Bricolage Grotesque', sans-serif;
    text-align: center;
    font-size: 30px;
    color: #000000;
    margin-bottom: 10px;
}

.checklist form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.checklist label {
    margin-bottom: -5px;
    font-size: 18px;
    color: #ffffff;
}

.checklist input,
.checklist select {
    margin-top: 5px;
    padding: 10px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    background: #d1d1d1;
    color: #000;
}

select:invalid {
    color: #b9b9b9;
}

button#buttonprint {
    align-self: flex-start;
    background-color: #b88671;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 25px;
    transition: background-color 0.3s;
    margin-top: 10px;
}

button#buttonprint:hover {
    background-color: #946d5c;
}

button#buttoncheck {
    align-self: flex-start;
    background-color: #b88671;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 25px;
    transition: background-color 0.3s;
    margin-top: 10px;
}

button#buttoncheck:hover {
    background-color: #946d5c;
}


/* Submit Button */
.submit-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #000000;
    background-color: #b88671;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: center;
    width: 80%;
    margin-bottom: 10px;
}

.submit-btn:hover {
    background-color: #ff8c00;
}

.toast {
    position: fixed; /* Tetap pada posisi yang sama saat halaman di-scroll */
    bottom: 20px; /* Jarak dari bagian bawah halaman */
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    z-index: 1000;
}

.toast.show {
    opacity: 1;
    visibility: visible;
}


/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th,
table td {
    border: 2px solid #000000;
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #aa747e;
    color: #333;
}

table tr:nth-child(even) {
    background-color: #59768c;
}

table tr:hover {
    background-color: #4a5b67;
}

/* Delete Button */
.delete-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 3px;
}

.delete-btn:hover {
    background-color: #c82333;
}

.edit-btn {
    background-color: #2f4fc2;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 3px;
}

.edit-btn:hover {
    background-color: #4465de;
}

/* Button to Back */
button#buttonback {
    align-self: flex-start;
    background-color: #b88671;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 25px;
    transition: background-color 0.3s;
    margin-top: 10px;
}

/* Hover effect untuk kedua tombol */
button#buttonback:hover {
    background-color: #946d5c;
}
